<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}"><i class="icon-speedometer"></i> Dashboard <span class="tag tag-info">NEW</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon-speedometer"></i> 핸디즈톡 </a>
        </li>

        <!-- 서비스 현황 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 스케줄 관리</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 유닛 청소</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 세탁물 배송</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 배치</a>
                </li>
            </ul>
        </li>

        <!-- 매니저 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 매니저 </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 대시보드</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 공지사항</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 지급목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 계좌정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 계좌등록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icon-puzzle"></i> 매니저 추천</a>
                </li>
            </ul>
        </li>

        <!-- 호스트 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 호스트 </a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'host_list' %}"><i class="icon-puzzle"></i> 호스트 리스트</a>
                </li>

            </ul>
        </li>

        <!-- 게스트 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 게스트 </a>
            <ul class="nav-dropdown-items">


            </ul>
        </li>

        <!-- 세탁관리  -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 세탁관리 </a>
            <ul class="nav-dropdown-items">


            </ul>
        </li>

        <!-- 자금관리 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 자금관리 </a>
            <ul class="nav-dropdown-items">


            </ul>
        </li>

        <!-- 상품관리 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 상품관리 </a>
            <ul class="nav-dropdown-items">


            </ul>
        </li>

        <!-- 지표관리 -->
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 지표관리 </a>
            <ul class="nav-dropdown-items">


            </ul>
        </li>




    </ul>
</nav>
